html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(230, 252, 242);
    text-align: center;
}

html{
    background: linear-gradient(#4880f8, #00050c);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#live-view-canvas {
    border-radius: 20px;
    max-width: 60%;
    height: auto;
    text-align: center;

}
div{
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #4caf9680;
    text-align: center;
}
input[type="range"] {
    margin: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(128, 151, 255), black);
    cursor: pointer;
}
input[type = "file"] {
    padding: 5px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
select {
    padding: 5px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
}
.inputs-section {
    padding: 1rem;
    background-color: #4caf9680;
    border-radius: 15px;
}
.main-header {
    font-size: 1.5rem;
    background-color: #8e927c65;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 1rem 0;
    text-align: center;
}